<div th:fragment="recent">
    <div class="row mb-3">
        <div class="col">
            <img class="card-img-top" src="" alt="img" style="width: 32px;">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">Цена</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <img class="card-img-top" src="" alt="img" style="width: 32px;">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">Цена</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <img class="card-img-top" src="" alt="img" style="width: 32px;">
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">Цена</p>
            </div>
        </div>
    </div>
</div>