<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="shortcut icon" href="/images/icon.ico"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
<header th:replace="fragments/header :: header(isAuthenticated=${isAuthenticated})"></header>
<main>
    <div class="album py-5 bg-body-tertiary">
        <div class="container w-85">
            <div th:replace="fragments/search-bar :: search-bar"></div>
            <h4 class="mb-4">Объявления в России</h4>
            <div class="container mb-5">
                <div class="row">
                    <div class="col-sm">
                        <a href="#" class="nav-link p-0 text-body-secondary mb-1">Москва</a>
                        <a href="#" class="nav-link p-0 text-body-secondary mb-1">Москва</a>
                        <a href="#" class="nav-link p-0 text-body-secondary">Москва</a>
                    </div>
                    <div class="col-sm">
                        <a href="#" class="nav-link p-0 text-body-secondary mb-1">Москва</a>
                        <a href="#" class="nav-link p-0 text-body-secondary mb-1">Москва</a>
                        <a href="#" class="nav-link p-0 text-body-secondary">Москва</a>
                    </div>
                    <div class="col-sm">
                        <a href="#" class="nav-link p-0 text-body-secondary mb-1">Москва</a>
                        <a href="#" class="nav-link p-0 text-body-secondary mb-1">Москва</a>
                        <a href="#" class="nav-link p-0 text-body-secondary">Москва</a>
                    </div>
                    <div class="col-sm">
                        <a href="#" class="nav-link p-0 text-body-secondary mb-1">Москва</a>
                        <a href="#" class="nav-link p-0 text-body-secondary mb-1">Москва</a>
                        <a href="#" class="nav-link p-0 text-body-secondary">Москва</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            <div th:each="post : ${posts}" th:if="${post.access == true}" class="col">
                                <div class="card shadow-sm">
                                    <img th:src="@{'/images/post/' + ${post.getPreviewImageId()}}" alt="img" width="301"
                                         height="225"/>
                                    <div class="card-body">
                                        <h6 th:text="${post.heading}"></h6>
                                        <p th:text="${prices.get(post.id)} + ' ₽'"></p>
                                        <p th:text="${post.city} + ', ' + ${post.street} + ', ' + ${post.houseNumber}"></p>
                                        <p th:text="${times.get(post.id)}"></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a th:href="'/post/' + ${post.id}" class="btn btn-warning ml-auto">Подробнее</a>
                                            <form id="likeForm" th:action="@{/like}" method="post" class="d-flex align-items-center">
                                                <input type="hidden" name="postId" th:value="${post.id}" />
                                                <img th:src="@{/images/views.png}" alt="views icon" width="35" height="20" class="mr-2">
                                                <span th:text="${post.viewsCount}" class="mr-3 ml-2"></span>
                                                <button type="submit" class="btn btn-link like-button" th:data-liked="${favoriteStatusMap.get(post.id)}">
                                                    <img th:if="${favoriteStatusMap.get(post.id)}" th:src="@{/images/full-heart.png}" alt="heart" width="20" height="20">
                                                    <img th:unless="${favoriteStatusMap.get(post.id)}" th:src="@{/images/empty-heart.png}" alt="heart" width="20" height="20">
                                                </button>
                                                <span th:text="${post.likesCount}"></span>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-3">
                    <h4 class="mb-3">Избранное</h4>
<!--                    <div th:replace="fragments/favourites :: favourites"></div>-->
                    <div class="list-group">
                        <!-- Проверяем наличие записей и выводим сообщение "пусто", если список пуст -->
                        <div th:if="${favoritePosts.isEmpty()}" class="text-center">
                            <p>Пусто</p>
                        </div>
                        <div th:each="favoritePost : ${favoritePosts}">
                            <a th:href="@{'/post/' + ${favoritePost.post.id}}" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img th:src="@{'/images/post/' + ${favoritePost.post.getPreviewImageId()}}"
                                             alt="Post Image" width="150" height="125" class="img-thumbnail"/>
                                    </div>
                                    <div class="col-md-9">
                                        <h6 th:text="${favoritePost.post.heading}" class="mb-1"></h6>
                                        <p th:text="${prices.get(favoritePost.post.id)} + ' ₽'" class="mb-1"></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <h4 class="mb-3">Вы смотрели</h4>
<!--                    <div th:replace="fragments/recent :: recent"></div>-->
                    <div class="list-group">
                        <!-- Проверяем наличие записей и выводим сообщение "пусто", если список пуст -->
                        <div th:if="${viewPosts.isEmpty()}" class="text-center">
                            <p>Пусто</p>
                        </div>
                        <div th:each="viewPost : ${viewPosts}">
                            <a th:href="@{'/post/' + ${viewPost.post.id}}" class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img th:src="@{'/images/post/' + ${viewPost.post.getPreviewImageId()}}"
                                             alt="Post Image" width="150" height="125" class="img-thumbnail"/>
                                    </div>
                                    <div class="col-md-9">
                                        <h6 th:text="${viewPost.post.heading}" class="mb-1"></h6>
                                        <p th:text="${prices.get(viewPost.post.id)} + ' ₽'" class="mb-1"></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.like-button').click(function(event) {
                event.preventDefault(); // Предотвращаем стандартное поведение кнопки

                var button = $(this); // Сохраняем ссылку на текущую кнопку лайка

                var form = button.closest('form'); // Находим ближайшую форму
                var postData = form.serialize(); // Получаем данные формы

                $.ajax({
                    type: form.attr('method'), // Получаем метод формы (POST)
                    url: form.attr('action'), // Получаем URL формы (/like)
                    data: postData, // Передаем данные формы
                    success: function(response) {
                        // Успешный ответ сервера
                        // Здесь можно обновить состояние кнопки "лайк"
                        var img = button.find('img'); // Находим изображение в текущей кнопке
                        var isLiked = button.attr('data-liked'); // Получаем состояние "лайка"

                        if (isLiked === 'true') {
                            img.attr('src', 'images/empty-heart.png'); // Изменяем изображение на пустое сердце
                            button.attr('data-liked', 'false'); // Обновляем состояние "лайка" на неактивное
                        } else {
                            img.attr('src', 'images/full-heart.png'); // Изменяем изображение на заполненное сердце
                            button.attr('data-liked', 'true'); // Обновляем состояние "лайка" на активное
                        }
                    },
                    error: function(xhr, status, error) {
                        // Обработка ошибок, если не удалось отправить форму
                        console.error(error);
                    }
                });
            });
        });
    </script>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>